*

!.gitignore

!giac.js
!giacsimple.js
!giacwasm.js
!index.html
!LICENSE.txt
!package-lock.json
!package.json
!README.md
!SECURITY.md
!CONTRIBUTING.md
!favicon.ico
!js/
!js/*.js
!js/i18n/
!js/i18n/*.js
!js/help/
!js/help/*.js
!css/
!css/*.css
!examples/
!examples/giac-js/
!examples/giac-js/*.json
!examples/compute-engine/
!examples/compute-engine/*.json
!scripts/
!scripts/*.js
!assets/
!assets/*.png
