*

!.gitignore

!giac.js
!giacsimple.js
!giacwasm.js
!index.html
!LICENSE.txt
!package-lock.json
!package.json
!README.md
!favicon.ico
!js/
!js/*.js
!js/i18n/
!js/i18n/*.js
!js/help/
!js/help/*.js
!css/
!css/*.css
!examples/
!examples/*.json
!scripts/
!scripts/*.js